layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    swap_tiled_layout name="main" {
        ui max_panes=3 {
            pane
        }
        ui exact_panes=4 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
        ui exact_panes=5 {
            pane split_direction="vertical" {
                pane
                pane {
                    pane
                    pane
                }
            }
        }
        ui exact_panes=6 {
            pane split_direction="vertical" {
                pane {
                    pane
                    pane
                }
                pane {
                    pane
                    pane
                }
            }
        }
    }

    swap_floating_layout {
        floating_panes {
            pane {
                x "60%"
                y 0
                width "40%"
                height "100%"
            }
        }
    }
}
session_serialization false
